*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

.contenitore{
    max-width: 1320px;
    margin: 0 auto;
    height: 100%;
}

.active {
    color: white;
}

.button{
    padding: 10px 20px;
    border-radius: 999999px;
    color: white;
}

.button-blu{
    background-color: #4154fe;
}